@page
@model Oiski.School.H3_2021.Bookstore.WebApp.Pages.BooksDisplayModel

@{
    ViewData["Title"] = "BooksDisplay";
}

<h1>BooksDisplay</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Book[0].Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Book[0].Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Book[0].Reviews.First().NumStars)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Book[0].BookAuthors.First().Author)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Book)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)DKK
                </td>
                <td>
                    @{
                        var stars = item.Reviews.Sum(r => r.NumStars);
                        @:Stars: @stars -

                        int count = item.Reviews.Count();
                        @:Customers: @count
                    }

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PriceOfferID)
                </td>
                <td>
                    @foreach (var bookAuther in item.BookAuthors)
                    {
                        @:@Html.DisplayFor(modelItem => bookAuther.Author.Name),
                    }
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@item.BookID">Edit</a> |
                    <a asp-page="./Details" asp-route-id="@item.BookID">Details</a> |
                    <a asp-page="./Delete" asp-route-id="@item.BookID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
